:host {
position: absolute;
top: 92%;
right: 0;
left: 0;
}

.title{
    padding-left: 0px;
    padding-top: 5px;
}

ion-card{
    margin: 0;
}
ion-list{
    padding:0;
}
.list-ios{
    background:  #4c8dff;
}

.drawer {
    margin-bottom: 5px;
    max-height: 45px;
    background: #36abe0;
}


.filler{
    min-height: 400px;
}