:host {
position: absolute;
top: 92%;
right: 0;
left: 0;

}


ion-card{
    margin: 0;
}
.list-ios{
    background: #36abe0;
}

ion-item{
    margin-top: 10px;
    
}

ion-card-content {
    min-height: 400px;
}