
<ion-content>
    <div id="map" #map ></div>

    <ion-fab  vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button *ngIf='isVisable' size="small" (click)='getCurrentPos()'>
        <ion-icon name="navigate-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" (click)='getData()'>
        <ion-icon name="car-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>

<app-slide-drawer 
(state)="getDrawerState($event)">

</app-slide-drawer>
<!-- 
  [parklist]="sentparks">meter um ngIF quando pedirmos os parques disponiveis -->
