<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab='map'>
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
      <ion-tab-button tab='places'>
        <ion-icon name="cart-sharp"></ion-icon>
        <ion-label>Places</ion-label>
      </ion-tab-button>
      <ion-tab-button tab='promos'>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Places</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-app>
