<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
       Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button expand="block" (click)="openPopover($event)">Choose Category</ion-button>
  </ion-card>
  <ion-card *ngFor="let notif of notifs" color="primary">
      <ion-card-header>
        <ion-card-subtitle>{{notif.category}}</ion-card-subtitle>
        <ion-card-subtitle> Valid until {{notif.date_end}}</ion-card-subtitle>
        <ion-card-title>{{notif.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{notif.note}}
      </ion-card-content>
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="loadMoreNotifs($event)">
    <ion-infinite-scroll-content loadingSpinner="circles">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
