<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button expand="block" (click)="openPopover($event)">Choose Category</ion-button>
  </ion-card>

  <ion-card *ngFor="let place of places" color="primary">
    <img src={{place.properties.photo_path}} />

    <ion-card-header>
      <ion-card-subtitle>{{place.properties.category}}</ion-card-subtitle>
      <ion-card-title>{{ place.properties.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{place.properties.about}}
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMorePlaces($event)">
    <ion-infinite-scroll-content loadingSpinner="circles">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
